@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*=============== VARIABLES CSS ===============*/

:root {
    /*========== Main Body Colors ==========*/
    --title-color: #fff;
    --text-color: hsl(235, 20%, 57%);
    --shape-gradient: linear-gradient(90deg, hsl(199, 86%, 41%), hsl(166, 81%, 60%));
    --body-gradient: linear-gradient(180deg, hsl(22, 100%, 84%), hsl(265, 100%, 80%));
    --container-color: hsl(235, 32%, 10%);
    --verified: hsl(145, 100%, 39%);
    --main-color: #1db2e0;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2.25rem;
    --normal-font-size: 1.25rem;
    --b-big-font-size: 1.5rem;
    --b-normal-font-size: .938rem;
    /*========== Button Colors ==========*/
    --b-hue: 240;
    --b-first-color: hsl(var(--hue), 16%, 18%);
    --b-first-color-alt: hsl(var(--hue), 16%, 12%);
    --b-title-color: hsl(var(--hue), 8%, 15%);
    --b-text-color: hsl(var(--hue), 8%, 35%);
    --b-body-color: hsl(var(--hue), 100%, 99%);
    --b-container-color: #FFF;
    /*========== Button z index ==========*/
    --z-modal: 1000;
}


/*=============== BASE ===============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    /* max-width: 100vh; */
    /* min-height: 100vh; */
}


/* ================================= HEADER NAVBAR ================================= */

.header {
    background-color: var(--container-color);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}

.header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}

.header .menu a:hover {
    color: var(--container-color);
    background: white;
}

.header .logo img {
    width: 25px;
}


/* ================================= MAIN BODY ================================= */


/* Title  */

.title h1 {
    position: relative;
    top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 95px;
    color: var(--container-color);
}

.title .line {
    position: relative;
    top: 85px;
    left: 590px;
    width: 10%;
    border: 2px solid var(--container-color);
    border-radius: 1px;
}

.sub__line {
    position: relative;
    top: 120px;
    left: 43px;
    width: 13%;
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    border-radius: 1px;
}

.sub__line1 {
    position: relative;
    top: 120px;
    left: 73px;
    width: 13%;
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    border-radius: 1px;
}

.sub__line2 {
    position: relative;
    top: 120px;
    left: 93px;
    width: 13%;
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    border-radius: 1px;
}

.sub__line3 {
    position: relative;
    top: 235px;
    left: 43px;
    width: 30%;
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    border-radius: 1px;
}

.sub__line4 {
    position: relative;
    top: 335px;
    left: 73px;
    width: 18%;
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    border-radius: 1px;
}

.sub__line5 {
    position: relative;
    top: 462px;
    right: 285px;
    width: 10%;
    border: 1px solid var(--container-color);
    background-color: var(--container-color);
    border-radius: 1px;
}


/* Tile  */

.main {
    height: 100vh;
    width: max-content;
}

.gejala .gejala__title h3 {
    position: relative;
    top: 120px;
    left: 43px;
    font-weight: 600;
    color: var(--container-color);
}

.gejala .gejala__title1 h3 {
    position: relative;
    top: 120px;
    left: 73px;
    font-weight: 600;
    color: var(--container-color);
}

.gejala .gejala__title2 h3 {
    position: relative;
    top: 120px;
    left: 93px;
    font-weight: 600;
    color: var(--container-color);
}

.gejala .gejala__title3 h3 {
    position: relative;
    top: 235px;
    left: 43px;
    font-weight: 600;
    color: var(--container-color);
}

.gejala .gejala__title4 h3 {
    position: relative;
    top: 335px;
    left: 73px;
    font-weight: 600;
    color: var(--container-color);
}

.gejala .gejala__title5 h3 {
    position: relative;
    top: 462px;
    right: 285px;
    font-weight: 600;
    color: var(--container-color);
}

.gejala .gejala__list {
    position: absolute;
    /* height: 100vh; */
    /* width: 100vmin; */
    /* transform: translate(-50%, -50%); */
    left: 4%;
    top: 30%;
    /* display: inline; */
    /* justify-content: space-evenly; */
}

.gejala .gejala__list1 {
    position: absolute;
    top: 30%;
    left: 35%;
}

.gejala .gejala__list2 {
    position: absolute;
    top: 30%;
    left: 65%;
}

.gejala .gejala__list3 {
    position: absolute;
    top: 54%;
    left: 4%;
}

.gejala .gejala__list4 {
    position: absolute;
    top: 68.5%;
    left: 35%;
}

.gejala .gejala__list5 {
    position: absolute;
    top: 86%;
    left: 35%;
}

.kumpulan_gejala {
    margin-inline: 1.5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 328px);
    row-gap: 2rem;
    column-gap: 2rem;
}


/* checkbox-circle2 */

.checkbox-circle2 {
    padding: 5px 10px;
}

.checkbox-circle2 input[type="checkbox"] {
    display: none;
}

.checkbox-circle2 input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-circle2 input[type="checkbox"]:hover+label:hover {
    color: var(--container-color);
}

.checkbox-circle2 input[type="checkbox"]:hover+label:before {
    border: 1px solid var(--container-color);
    box-shadow: 2px 1px 0 var(--container-color);
}

.checkbox-circle2 input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.checkbox-circle2 input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid #343a3f;
    border-radius: 1em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
    box-shadow: -2px -1px 0 var(--container-color);
}

.checkbox-circle2 input[type="checkbox"]:checked+label:before {
    border-radius: 1em;
    border: 2px solid #fff;
    width: 1em;
    height: 1em;
    background: var(--verified);
    box-shadow: 2px 1px 0 var(--verified);
}


/* checkbox-circle2 end */


/* ========================================================================== */


/* ========================================================================== */


/* ========================================================================== */


/* ========================================================================== */